
<!--<%= image_tag("bike3.jpg", class: "img-responsive") %>-->
<div class="jumbotron text-center">
  <h1>Welcome to Bike Berlin</h1>
  <p>Your source for used bikes in Berlin</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>  Bike1<%= image_tag("bike3.jpg", class: "img-fluid") %></h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Bike2<%= image_tag("bike3.jpg", class: "img-fluid") %></h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Bike3<%= image_tag("bike3.jpg", class: "img-fluid") %></h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div>
